
$game-grid-width-height: 25rem;
$game-grid-spacing: 0.05rem;
$game-grid-cell-width-height: calc($game-grid-width-height / 10);

/*  Styles for our main game grid (ocean)
    which is the 2D array of cells that the player clicks on to place their ships */
.game-grid {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  position: relative;

  &__row {
    display: flex;
  }

  &__cell {
    background-color: white;
    width: $game-grid-cell-width-height;
    height: $game-grid-cell-width-height;
    border: 0.8px solid black;
  }

  &__cell--blank {
    background-color: white;
    border: none;
    /* Other borders are added dynamically from within cell component */
  }

  &__ship {
    position: absolute;
    pointer-events: none;
  }

  &__ship-cell {
    position: absolute;
    background-color: #0022ff35;
    width: 40px;
    height: 40px;
    pointer-events: initial;
    box-sizing: border-box;
    cursor: move;
  }
}


