/* Game grid (ocean) is a 2D array rendered as a 10x10 grid */
$game-grid-width-height: 25rem;
$game-grid-spacing: 0.05rem;

.game-grid-wrapper {
  width: calc($game-grid-width-height + $game-grid-spacing);
}

.game-grid {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border: $game-grid-spacing solid black;
  max-width: fit-content;

  &__row {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }

  &__column {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
  }

  &__alignment {
    display: flex;
  }

  &__cell {
    background-color: white;
    width: calc($game-grid-width-height / 10);
    height: calc($game-grid-width-height / 10);
    border: $game-grid-spacing solid black;
    cursor: pointer;

    &--hidden {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--empty {
      background-color: white;
    }
  }
}

@media (max-width: 768px) {
  $game-grid-width-height: 20rem;

  .game-grid {
    &__cell {
      width: calc($game-grid-width-height / 10);
      height: calc($game-grid-width-height / 10);
    }
  }
}